@import url(../../../index.css);

.section{
    background-color: var(--navbar-color);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 8%;
}
.section > .links {
    /* animation: fade-in ease forwards;
    animation-timeline: view(); */
}
.links{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid gray;
}
.links > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: none;
    gap: none;
    padding-bottom: 2rem;
}
.socials{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* animation: fade-in-socials ease forwards;
    animation-timeline: view(); */
}
@keyframes fade-in-socials {
    from { opacity: 0; transform: translateX(-300px);}
    40% { transform: translateY(0px); opacity: 1;}
    to {  }
}
p{
    margin: 6px;
    font-size: 18px;
}
div > a:hover,
p > a:hover{
    color: blanchedalmond;
}
.logoContainer{
    margin: none;
}
@keyframes fade-in {
    from { opacity: 0; transform: translateX(-300px);}
    75% { transform: translateY(0px); opacity: 1;}
    to {  }
}
.socialsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.socialsContainer > a{
    width: 40px;
    height: 40px;
}