@import url(../../index.css);

.carousel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(90deg, #20272C, #2D3E43 50%, #1B2227);
    z-index: 10;
    color: black;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    transition: transform 0.5s ease; /* Add a transition */
}
.card{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 2rem 10%;
    box-sizing: border-box;
    background-color: white;
    height: 80vh;
    padding-bottom: 23%;
    /* text-align: center; */
}
.card > h3{
    margin-bottom: 0px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}
.cardContainer{
    height: 40vh;
}
.image{
    object-fit: contain;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}
.price{
    display: flex;
    position: absolute;
    bottom: 10%;
    margin-top: auto;
    font-weight: bold;
    font-size: 18px;
}
:root{
    --button-height: 50px;
    --button-width: 50px;
}
.carouselButton{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 100%;
    height: var(--button-height);
    width: var(--button-width);
    z-index: 30;
    transition: scale 0.3s ease;
}
.btnLeft{
    position: absolute;
    top: calc(50% - calc(var(--button-height) / 2));
    left: 10px;
}
.btnRight{
    position: absolute;
    top: calc(50% - calc(var(--button-height) / 2));
    right: 10px;
}
.carouselButton:active{
    scale: 0.95;
}
.svg{
    width: 30px;
    height: 30px;
}
.cardButton{
    color: white;
    position: absolute;
    bottom: 15%;
}
.cardButton:active{
    scale: 0.95;
}



:root{
    --scrollbar-0: gray;
    --scrollbar-100: rgb(184, 184, 184);
}

.information::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: transparent;
}

.information::-webkit-scrollbar
{
  width: 10px;
  background-color: transparent;
}

.information::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top,
                        var(--scrollbar-0) 0%,
                        var(--scrollbar-100) 100%);
}